<!-- <div class="row">
  <div class="col-md-12">
    <div>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Todays Events</h2>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="events">
      <h2 id="month">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.next_month %>
      </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @events_by_date[date] %>
          <ul>
            <% @events_by_date[date].each do |event| %>
              <li><%= link_to event.name, event %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Friends List</h2>
      </div>
      <div id="friends-list" class="panel-body friends_list"><ul></ul></div>
    </div>
  </div>
</div>

<div><%= session[:current_user].inspect %></div>

