<div class="row">
  <div class="col-md-12">
    <h1>Hello (username here)</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Todays Events</h2>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <img class="calandar" src="http://www.freegreatimages.com/wp-content/uploads/2014/04/calendar_template_by_sinatarayne-d3604mz.jpg">
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Friends List</h2>
      </div>
      <div class="panel-body friends_list">
        <img class="friendslist" src="http://static.giantbomb.com/uploads/original/3/32253/1857636-r3253.jpg">
      </div>
    </div>
  </div>
</div>

<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @articles_by_date[date] %>
      <ul>
        <% @articles_by_date[date].each do |article| %>
          <li><%= link_to article.name, article %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

