<!DOCTYPE html>
<html>
  <head>
    <title>Gamecal</title>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", media: "all"%>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header role="banner">
      <nav class="navbar navbar-inverse navbar-fixed" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">GameCal</a>
          </div>
        </div>
      </nav>
    </header>
  <div class="container">
    <%= yield %>
  </div>

  </body>
  <footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="pull-left">
            <p>
              <%= link_to "privacy policy", privacy_url%>
                &bull;
              <%= link_to "terms of use", terms_url%>
                &bull;
                &copy; 2014 GameCal
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div= class="pull-right">
            Powered by Steam
            <a href="http://steampowered.com"><img class="steam_logo" src="https://dl.dropboxusercontent.com/u/77249216/steam_logo.jpg"></a>
          </div>
        </div>
    </nav>
  </footer>
</html>