<!DOCTYPE html>
<html>
  <head>
    <title>Gamecal</title>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", media: "all"%>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header role="banner">
      <nav class="navbar navbar-inverse navbar-fixed" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">GAMECAL</a>
          </div>
          <div class="pull-right">
            <% if is_authenticated? %>
            <% else %>
              <%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png"), '/auth/steam' %>
            <% end %>
          <div class="pull-right">
            <% if session.key? :current_user %>
              Hello <%= session[:current_user][:nickname] %>
            <div class="img-thumbnail">
              <%= image_tag session[:current_user][:image] %>
            </div>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
  <div class="container">
    <%= yield %>
  </div>

  </body>
  <footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="pull-left">
            <p>
              <%= link_to "privacy policy", privacy_url%>
                &bull;
              <%= link_to "terms of use", terms_url%>
                &bull;
                &copy; 2014 GameCal
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div= class="pull-right">
            Powered by Steam
            <a href="http://steampowered.com"><img class="steam_logo" <%= image_tag("globalheader_logo.png")%></a>
          </div>
        </div>
    </nav>
  </footer>
</html>